<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <main>
    <nav class="menu">
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/LEGO_logo.svg/512px-LEGO_logo.svg.png"
        alt=""
        width="100"
      />
      <ul>
        <a href="/">home</a>
        <a href="/sobre">sobre</a>
      </ul>
    </nav>
    <h3>Bem vindo(a) à sobre peso!</h3>
    <p>lorem5</p>
  </main>
  <body></body>
</html>
